.direnv/

fish/fish_variables
fish/pre.fish

me/cmd/subcmd/*
!me/cmd/subcmd/worktree.go

nix/Darwin/home-manager/extras.nix
nix/NixOS/home-manager/extras.nix

tmux/plugins/

zsh/zsh/pre.zsh
zsh/zsh/post.zsh
