[merge]
   tool = diffview
[mergetool]
   prompt = false
[mergetool "diffview"]
   cmd = nvim -c "DiffviewOpen"

[diff]
   tool = diffview
[difftool]
   prompt = false
[difftool "diffview"]
   cmd = nvim -c "DiffviewOpen $LOCAL..$REMOTE"

[fetch]
   prune = true

[alias]
   amend = commit --amend
   review = difftool -d
   fix = mergetool -d

[init]
   defaultBranch = main

[core]
   editor = nvim

[user]
   name = ""
   email = ""
